/*
Template Name: Codefox - Responsive Bootstrap 4 Admin Dashboard
Author: CoderThemes
Version: 5.0.0
Website: https://coderthemes.com/
Contact: support@coderthemes.com
File: Main Css File
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
html {
  position: relative;
  min-height: 100%; }

body {
  overflow-x: hidden; }

#wrapper {
  height: 100%;
  overflow: hidden;
  width: 100%; }

.content-page {
  margin-left: 240px;
  overflow: hidden;
  padding: 70px 15px 65px 15px;
  min-height: 80vh;
  margin-top: 24px; }

.left-side-menu {
  width: 240px;
  background: #ffffff;
  bottom: 0;
  padding: 20px 0;
  position: fixed;
  transition: all .1s ease-out;
  top: 0;
  padding-top: calc(70px + 20px);
  box-shadow: 0 0 7px 0 rgba(154, 161, 171, 0.15);
  z-index: 1; }

.logo-box {
  height: 70px;
  width: 240px;
  transition: all .1s ease-out;
  background-color: #2f364a;
  position: fixed;
  padding-left: 20px;
  top: 0;
  z-index: 1; }
  .logo-box .logo {
    line-height: 70px; }

.logo {
  display: block; }
  .logo span.logo-lg {
    display: block; }
  .logo span.logo-sm {
    display: none; }
  .logo .logo-lg-text-dark {
    color: #323a46;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase; }
  .logo .logo-lg-text-light {
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase; }

.logo-light {
  display: block; }

.logo-dark {
  display: none; }

#sidebar-menu > ul {
  list-style: none;
  padding: 0; }
  #sidebar-menu > ul > li > a {
    color: #6e768e;
    display: block;
    padding: 12px 20px;
    position: relative;
    transition: all 0.4s;
    font-family: "Inter", sans-serif;
    font-size: 0.95rem;
    font-weight: 500; }
    #sidebar-menu > ul > li > a:hover, #sidebar-menu > ul > li > a:focus, #sidebar-menu > ul > li > a:active {
      color: #3bafda;
      text-decoration: none; }
    #sidebar-menu > ul > li > a > span {
      vertical-align: middle; }
    #sidebar-menu > ul > li > a i {
      display: inline-block;
      line-height: 1.0625rem;
      margin: 0 10px 0 3px;
      text-align: center;
      vertical-align: middle;
      width: 16px;
      font-size: 16px; }
    #sidebar-menu > ul > li > a svg {
      width: 16px;
      height: 16px;
      margin-left: 3px;
      margin-right: 10px; }
    #sidebar-menu > ul > li > a .drop-arrow {
      float: right; }
      #sidebar-menu > ul > li > a .drop-arrow i {
        margin-right: 0; }
  #sidebar-menu > ul > li > a.mm-active {
    color: #3bafda; }
  #sidebar-menu > ul > li ul {
    padding-left: 34px;
    list-style: none; }
    #sidebar-menu > ul > li ul ul {
      padding-left: 20px; }

#sidebar-menu .badge {
  margin-top: 4px; }

#sidebar-menu .menu-title {
  padding: 10px 20px;
  letter-spacing: .05em;
  pointer-events: none;
  cursor: default;
  font-size: 0.6875rem;
  text-transform: uppercase;
  color: #6e768e;
  font-weight: 500; }

#sidebar-menu .menuitem-active > a {
  color: #3bafda; }

#sidebar-menu .menuitem-active .active {
  color: #3bafda; }

.nav-second-level li a {
  padding: 8px 20px;
  color: #6e768e;
  display: block;
  position: relative;
  transition: all 0.4s;
  font-size: 0.9rem; }
  .nav-second-level li a:focus, .nav-second-level li a:hover {
    color: #3bafda; }

.nav-second-level li.active > a {
  color: #3bafda; }

.menu-arrow {
  transition: transform .15s;
  position: absolute;
  right: 20px;
  display: inline-block;
  font-family: 'Material Design Icons';
  text-rendering: auto;
  line-height: 1.5rem;
  font-size: 1.1rem;
  transform: translate(0, 0); }
  .menu-arrow:before {
    content: "\F0142"; }

li > a[aria-expanded="true"] > span.menu-arrow {
  transform: rotate(90deg); }

li.menuitem-active > a:not(.collapsed) > span.menu-arrow {
  transform: rotate(90deg); }

body[data-sidebar-size="condensed"] .logo-box {
  width: 70px !important; }

body[data-sidebar-size="condensed"] .logo span.logo-lg {
  display: none; }

body[data-sidebar-size="condensed"] .logo span.logo-sm {
  display: block; }

body[data-sidebar-size="condensed"] .left-side-menu {
  position: absolute;
  padding-top: 70px;
  width: 70px !important;
  z-index: 5; }
  body[data-sidebar-size="condensed"] .left-side-menu .simplebar-mask,
  body[data-sidebar-size="condensed"] .left-side-menu .simplebar-content-wrapper {
    overflow: visible !important; }
  body[data-sidebar-size="condensed"] .left-side-menu .simplebar-scrollbar {
    display: none !important; }
  body[data-sidebar-size="condensed"] .left-side-menu .simplebar-offset {
    bottom: 0 !important; }
  body[data-sidebar-size="condensed"] .left-side-menu #sidebar-menu .menu-title,
  body[data-sidebar-size="condensed"] .left-side-menu #sidebar-menu .menu-arrow,
  body[data-sidebar-size="condensed"] .left-side-menu #sidebar-menu .label,
  body[data-sidebar-size="condensed"] .left-side-menu #sidebar-menu .badge,
  body[data-sidebar-size="condensed"] .left-side-menu #sidebar-menu .collapse.in {
    display: none !important; }
  body[data-sidebar-size="condensed"] .left-side-menu #sidebar-menu .nav.collapse {
    height: inherit !important; }
  body[data-sidebar-size="condensed"] .left-side-menu #sidebar-menu > ul > li {
    position: relative;
    white-space: nowrap; }
    body[data-sidebar-size="condensed"] .left-side-menu #sidebar-menu > ul > li > a {
      padding: 15px 20px;
      min-height: 54px;
      transition: none; }
      body[data-sidebar-size="condensed"] .left-side-menu #sidebar-menu > ul > li > a:hover, body[data-sidebar-size="condensed"] .left-side-menu #sidebar-menu > ul > li > a:active, body[data-sidebar-size="condensed"] .left-side-menu #sidebar-menu > ul > li > a:focus {
        color: #3bafda; }
      body[data-sidebar-size="condensed"] .left-side-menu #sidebar-menu > ul > li > a i {
        font-size: 1.2rem;
        margin-right: 20px;
        margin-left: 5px; }
      body[data-sidebar-size="condensed"] .left-side-menu #sidebar-menu > ul > li > a svg {
        width: 18px;
        height: 18px;
        margin-left: 6px; }
      body[data-sidebar-size="condensed"] .left-side-menu #sidebar-menu > ul > li > a span {
        display: none;
        padding-left: 25px; }
    body[data-sidebar-size="condensed"] .left-side-menu #sidebar-menu > ul > li:hover > a {
      position: relative;
      width: calc(190px + 70px);
      color: #3bafda;
      background-color: #f1f5f7;
      box-shadow: inset 0 1px 7px 0 rgba(154, 161, 171, 0.2); }
      body[data-sidebar-size="condensed"] .left-side-menu #sidebar-menu > ul > li:hover > a span {
        display: inline; }
    body[data-sidebar-size="condensed"] .left-side-menu #sidebar-menu > ul > li:hover a.open :after,
    body[data-sidebar-size="condensed"] .left-side-menu #sidebar-menu > ul > li:hover a.active :after {
      display: none; }
    body[data-sidebar-size="condensed"] .left-side-menu #sidebar-menu > ul > li:hover > .collapse {
      display: block !important;
      height: auto !important;
      transition: none !important; }
      body[data-sidebar-size="condensed"] .left-side-menu #sidebar-menu > ul > li:hover > .collapse > ul {
        display: block !important;
        left: 70px;
        position: absolute;
        width: 190px;
        box-shadow: 0 1px 7px 0 rgba(154, 161, 171, 0.2); }
        body[data-sidebar-size="condensed"] .left-side-menu #sidebar-menu > ul > li:hover > .collapse > ul ul {
          box-shadow: 0 1px 7px 0 rgba(154, 161, 171, 0.2); }
        body[data-sidebar-size="condensed"] .left-side-menu #sidebar-menu > ul > li:hover > .collapse > ul a {
          box-shadow: none;
          padding: 8px 20px;
          position: relative;
          width: 190px;
          z-index: 6; }
          body[data-sidebar-size="condensed"] .left-side-menu #sidebar-menu > ul > li:hover > .collapse > ul a:hover {
            color: #3bafda; }
  body[data-sidebar-size="condensed"] .left-side-menu #sidebar-menu > ul .collapsing {
    display: block !important;
    height: auto !important;
    transition: none !important; }
  body[data-sidebar-size="condensed"] .left-side-menu #sidebar-menu > ul ul {
    padding: 5px 0;
    z-index: 9999;
    display: none;
    background-color: #ffffff; }
    body[data-sidebar-size="condensed"] .left-side-menu #sidebar-menu > ul ul li:hover > .collapse {
      display: block !important;
      height: auto !important;
      transition: none !important; }
      body[data-sidebar-size="condensed"] .left-side-menu #sidebar-menu > ul ul li:hover > .collapse > ul {
        display: block;
        left: 190px;
        margin-top: -36px;
        position: absolute;
        width: 190px; }
    body[data-sidebar-size="condensed"] .left-side-menu #sidebar-menu > ul ul li > a span.pull-right {
      position: absolute;
      right: 20px;
      top: 12px;
      transform: rotate(270deg); }
    body[data-sidebar-size="condensed"] .left-side-menu #sidebar-menu > ul ul li.active a {
      color: #3bafda; }

body[data-sidebar-size="condensed"] .content-page {
  margin-left: 70px !important; }

@media (min-width: 992px) {
  body[data-sidebar-size="condensed"] .footer {
    left: 70px !important; } }

body[data-sidebar-size="condensed"] .user-box {
  display: none !important; }

@media (min-width: 768px) {
  body[data-sidebar-size="condensed"]:not([data-layout="compact"]):not(.auth-fluid-pages) {
    min-height: 1550px; } }

@media (max-width: 767.98px) {
  .pro-user-name {
    display: none; } }

@media (max-width: 991.98px) {
  body {
    overflow-x: hidden;
    padding-bottom: 80px; }
  .left-side-menu {
    display: none;
    z-index: 100 !important; }
  .sidebar-enable .left-side-menu {
    display: block; }
  .content-page,
  body[data-sidebar-size="condensed"] .content-page {
    margin-left: 0 !important; }
  .footer {
    left: 0 !important; } }

/* =============
  Small Menu
============= */
body[data-sidebar-size="compact"]:not([data-sidebar-size="condensed"]) .logo-box {
  width: 160px !important; }

body[data-sidebar-size="compact"]:not([data-sidebar-size="condensed"]) .left-side-menu {
  width: 160px !important;
  text-align: center; }
  body[data-sidebar-size="compact"]:not([data-sidebar-size="condensed"]) .left-side-menu #sidebar-menu > ul > li > a > i {
    display: block;
    font-size: 18px;
    line-height: 24px;
    width: 100%;
    margin: 0; }
  body[data-sidebar-size="compact"]:not([data-sidebar-size="condensed"]) .left-side-menu #sidebar-menu > ul > li > a svg {
    display: block;
    margin: 0 auto 5px auto; }
  body[data-sidebar-size="compact"]:not([data-sidebar-size="condensed"]) .left-side-menu #sidebar-menu > ul ul {
    padding-left: 0; }
    body[data-sidebar-size="compact"]:not([data-sidebar-size="condensed"]) .left-side-menu #sidebar-menu > ul ul a {
      padding: 10px 20px; }
  body[data-sidebar-size="compact"]:not([data-sidebar-size="condensed"]) .left-side-menu .menu-arrow,
  body[data-sidebar-size="compact"]:not([data-sidebar-size="condensed"]) .left-side-menu .badge {
    display: none !important; }
  body[data-sidebar-size="compact"]:not([data-sidebar-size="condensed"]) .left-side-menu + .content-page {
    margin-left: 160px; }
  body[data-sidebar-size="compact"]:not([data-sidebar-size="condensed"]) .left-side-menu + .content-page .footer {
    left: 160px; }
  body[data-sidebar-size="compact"]:not([data-sidebar-size="condensed"]) .left-side-menu .menu-title {
    background-color: #f1f5f7; }

body[data-sidebar-size="compact"]:not([data-sidebar-size="condensed"]) .navbar-custom {
  left: 160px; }

body[data-sidebar-color="dark"]:not([data-layout-mode="detached"]) .logo-box {
  background-color: #38414a; }
  body[data-sidebar-color="dark"]:not([data-layout-mode="detached"]) .logo-box .logo-dark {
    display: none; }
  body[data-sidebar-color="dark"]:not([data-layout-mode="detached"]) .logo-box .logo-light {
    display: block; }

body[data-sidebar-color="dark"] .left-side-menu {
  background-color: #38414a;
  box-shadow: none; }
  body[data-sidebar-color="dark"] .left-side-menu #sidebar-menu > ul > li > a {
    color: #9097a7; }
    body[data-sidebar-color="dark"] .left-side-menu #sidebar-menu > ul > li > a:hover, body[data-sidebar-color="dark"] .left-side-menu #sidebar-menu > ul > li > a:focus, body[data-sidebar-color="dark"] .left-side-menu #sidebar-menu > ul > li > a:active {
      color: #c8cddc; }
  body[data-sidebar-color="dark"] .left-side-menu #sidebar-menu > ul > li > a.mm-active {
    color: #ffffff;
    background-color: #3d4751; }
  body[data-sidebar-color="dark"] .left-side-menu #sidebar-menu .menu-title {
    color: #adb5bd; }
  body[data-sidebar-color="dark"] .left-side-menu #sidebar-menu .menuitem-active > a {
    color: #3bafda; }
  body[data-sidebar-color="dark"] .left-side-menu #sidebar-menu .menuitem-active .active {
    color: #3bafda; }
  body[data-sidebar-color="dark"] .left-side-menu .nav-second-level li a,
  body[data-sidebar-color="dark"] .left-side-menu .nav-thrid-level li a {
    color: #9097a7; }
    body[data-sidebar-color="dark"] .left-side-menu .nav-second-level li a:focus, body[data-sidebar-color="dark"] .left-side-menu .nav-second-level li a:hover,
    body[data-sidebar-color="dark"] .left-side-menu .nav-thrid-level li a:focus,
    body[data-sidebar-color="dark"] .left-side-menu .nav-thrid-level li a:hover {
      background-color: transparent;
      color: #c8cddc; }
  body[data-sidebar-color="dark"] .left-side-menu .nav-second-level li.active > a,
  body[data-sidebar-color="dark"] .left-side-menu .nav-thrid-level li.active > a {
    color: #ffffff; }
  body[data-sidebar-color="dark"] .left-side-menu .user-box .dropdown > a {
    color: #fff !important; }
  body[data-sidebar-color="dark"] .left-side-menu .user-box .dropdown + p {
    color: rgba(255, 255, 255, 0.7) !important; }

body[data-sidebar-color="dark"][data-sidebar-size="condensed"] #wrapper .left-side-menu #sidebar-menu > ul > li:hover > a {
  background-color: #38414a;
  box-shadow: none; }

body[data-sidebar-color="dark"][data-sidebar-size="condensed"] #wrapper .left-side-menu #sidebar-menu .mm-active .active {
  color: #3bafda; }

body[data-sidebar-color="dark"][data-sidebar-size="compact"] #wrapper .left-side-menu .menu-title {
  background-color: rgba(255, 255, 255, 0.03); }

body[data-sidebar-color="brand"]:not([data-layout-mode="detached"]) .logo-box,
body[data-sidebar-color="gradient"]:not([data-layout-mode="detached"]) .logo-box {
  background-color: #3bafda; }
  body[data-sidebar-color="brand"]:not([data-layout-mode="detached"]) .logo-box .logo-dark,
  body[data-sidebar-color="gradient"]:not([data-layout-mode="detached"]) .logo-box .logo-dark {
    display: none; }
  body[data-sidebar-color="brand"]:not([data-layout-mode="detached"]) .logo-box .logo-light,
  body[data-sidebar-color="gradient"]:not([data-layout-mode="detached"]) .logo-box .logo-light {
    display: block; }

body[data-sidebar-color="brand"] .menuitem-active > a,
body[data-sidebar-color="gradient"] .menuitem-active > a {
  color: #fff !important; }

body[data-sidebar-color="brand"] .left-side-menu,
body[data-sidebar-color="gradient"] .left-side-menu {
  background-color: #3bafda;
  box-shadow: none; }
  body[data-sidebar-color="brand"] .left-side-menu #sidebar-menu > ul > li > a,
  body[data-sidebar-color="gradient"] .left-side-menu #sidebar-menu > ul > li > a {
    color: rgba(255, 255, 255, 0.7); }
    body[data-sidebar-color="brand"] .left-side-menu #sidebar-menu > ul > li > a:hover, body[data-sidebar-color="brand"] .left-side-menu #sidebar-menu > ul > li > a:focus, body[data-sidebar-color="brand"] .left-side-menu #sidebar-menu > ul > li > a:active,
    body[data-sidebar-color="gradient"] .left-side-menu #sidebar-menu > ul > li > a:hover,
    body[data-sidebar-color="gradient"] .left-side-menu #sidebar-menu > ul > li > a:focus,
    body[data-sidebar-color="gradient"] .left-side-menu #sidebar-menu > ul > li > a:active {
      color: rgba(255, 255, 255, 0.9); }
  body[data-sidebar-color="brand"] .left-side-menu #sidebar-menu > ul > li > a.mm-active,
  body[data-sidebar-color="gradient"] .left-side-menu #sidebar-menu > ul > li > a.mm-active {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.07); }
  body[data-sidebar-color="brand"] .left-side-menu #sidebar-menu .menu-title,
  body[data-sidebar-color="gradient"] .left-side-menu #sidebar-menu .menu-title {
    color: rgba(255, 255, 255, 0.6); }
  body[data-sidebar-color="brand"] .left-side-menu #sidebar-menu .mm-active .active,
  body[data-sidebar-color="gradient"] .left-side-menu #sidebar-menu .mm-active .active {
    color: #fff; }
  body[data-sidebar-color="brand"] .left-side-menu .nav-second-level li a,
  body[data-sidebar-color="brand"] .left-side-menu .nav-thrid-level li a,
  body[data-sidebar-color="gradient"] .left-side-menu .nav-second-level li a,
  body[data-sidebar-color="gradient"] .left-side-menu .nav-thrid-level li a {
    color: rgba(255, 255, 255, 0.7); }
    body[data-sidebar-color="brand"] .left-side-menu .nav-second-level li a:focus, body[data-sidebar-color="brand"] .left-side-menu .nav-second-level li a:hover,
    body[data-sidebar-color="brand"] .left-side-menu .nav-thrid-level li a:focus,
    body[data-sidebar-color="brand"] .left-side-menu .nav-thrid-level li a:hover,
    body[data-sidebar-color="gradient"] .left-side-menu .nav-second-level li a:focus,
    body[data-sidebar-color="gradient"] .left-side-menu .nav-second-level li a:hover,
    body[data-sidebar-color="gradient"] .left-side-menu .nav-thrid-level li a:focus,
    body[data-sidebar-color="gradient"] .left-side-menu .nav-thrid-level li a:hover {
      background-color: transparent;
      color: #fff; }
  body[data-sidebar-color="brand"] .left-side-menu .nav-second-level li.active > a,
  body[data-sidebar-color="brand"] .left-side-menu .nav-thrid-level li.active > a,
  body[data-sidebar-color="gradient"] .left-side-menu .nav-second-level li.active > a,
  body[data-sidebar-color="gradient"] .left-side-menu .nav-thrid-level li.active > a {
    color: #ffffff; }
  body[data-sidebar-color="brand"] .left-side-menu .user-box .dropdown > a,
  body[data-sidebar-color="gradient"] .left-side-menu .user-box .dropdown > a {
    color: #fff !important; }
  body[data-sidebar-color="brand"] .left-side-menu .user-box .dropdown + p,
  body[data-sidebar-color="gradient"] .left-side-menu .user-box .dropdown + p {
    color: rgba(255, 255, 255, 0.7) !important; }

body[data-sidebar-color="brand"][data-sidebar-size="condensed"] #wrapper .left-side-menu #sidebar-menu > ul > li:hover > a,
body[data-sidebar-color="gradient"][data-sidebar-size="condensed"] #wrapper .left-side-menu #sidebar-menu > ul > li:hover > a {
  background-color: #3bafda;
  box-shadow: none;
  color: #fff; }

body[data-sidebar-color="brand"][data-sidebar-size="condensed"] #wrapper .left-side-menu #sidebar-menu .mm-active .active,
body[data-sidebar-color="gradient"][data-sidebar-size="condensed"] #wrapper .left-side-menu #sidebar-menu .mm-active .active {
  color: #3bafda; }

body[data-sidebar-color="brand"][data-sidebar-size="condensed"] #wrapper .left-side-menu .nav-second-level li a,
body[data-sidebar-color="brand"][data-sidebar-size="condensed"] #wrapper .left-side-menu .nav-thrid-level li a,
body[data-sidebar-color="gradient"][data-sidebar-size="condensed"] #wrapper .left-side-menu .nav-second-level li a,
body[data-sidebar-color="gradient"][data-sidebar-size="condensed"] #wrapper .left-side-menu .nav-thrid-level li a {
  color: #6e768e; }

body[data-sidebar-color="brand"][data-sidebar-size="compact"] #wrapper .left-side-menu .menu-title,
body[data-sidebar-color="gradient"][data-sidebar-size="compact"] #wrapper .left-side-menu .menu-title {
  background-color: rgba(255, 255, 255, 0.05); }

body[data-sidebar-color="gradient"] .logo-box,
body[data-sidebar-color="gradient"] .left-side-menu {
  background: #242540 !important;
  background-image: linear-gradient(270deg, rgba(64, 149, 216, 0.15), transparent) !important; }

body[data-sidebar-color="gradient"][data-sidebar-size="condensed"] #wrapper .left-side-menu #sidebar-menu > ul > li:hover > a {
  background: #242540; }

body[data-sidebar-color="gradient"][data-sidebar-size="condensed"] #wrapper .left-side-menu #sidebar-menu .mm-active .active {
  color: #3bafda; }

body[data-sidebar-color="gradient"][data-sidebar-size="condensed"] #wrapper .left-side-menu .nav-second-level li a,
body[data-sidebar-color="gradient"][data-sidebar-size="condensed"] #wrapper .left-side-menu .nav-thrid-level li a {
  color: #6e768e; }

.user-box {
  display: none; }

.user-pro-dropdown {
  width: 90%;
  min-width: 1px;
  margin-left: 5%;
  margin-top: 10px; }

body[data-layout-mode="detached"] .left-side-menu {
  top: 70px;
  padding-top: 0; }
  body[data-layout-mode="detached"] .left-side-menu .logo-box {
    display: none; }

@media (min-width: 992px) {
  body[data-layout-mode="detached"] .navbar-custom .container-fluid {
    max-width: 95%; }
  body[data-layout-mode="detached"] #wrapper {
    max-width: 95%;
    margin: 0 auto; }
  body[data-layout-mode="detached"] .left-side-menu {
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px; }
  body[data-layout-mode="detached"] .content-page {
    padding-bottom: 30px; }
  body[data-layout-mode="detached"] .logo-box {
    background-color: transparent !important;
    background-image: none !important; } }

body[data-layout-mode="detached"]:not([data-sidebar-size="condensed"]) .left-side-menu {
  padding-top: 30px; }

body[data-sidebar-showuser="true"] .user-box {
  display: block; }

body[data-sidebar-icon="twotones"] #sidebar-menu > ul > li > a i {
  color: #3bafda; }

body[data-sidebar-icon="twotones"] #sidebar-menu > ul > li > a svg {
  width: 18px;
  height: 18px;
  margin-left: 3px;
  margin-right: 10px;
  color: #3bafda;
  fill: rgba(59, 175, 218, 0.2); }

.navbar-custom {
  background-color: #2f364a;
  padding: 0 10px 0 0;
  position: fixed;
  left: 240px;
  right: 0;
  top: 0;
  height: 70px;
  transition: all .1s ease-out;
  z-index: 1001; }
  .navbar-custom .logo-box {
    display: none; }
  .navbar-custom .topnav-menu > li {
    float: left; }
  .navbar-custom .topnav-menu .nav-link {
    padding: 0 15px;
    color: rgba(255, 255, 255, 0.75);
    min-width: 32px;
    display: block;
    line-height: 70px;
    text-align: center;
    max-height: 70px; }
  .navbar-custom .dropdown.show .nav-link {
    background-color: rgba(255, 255, 255, 0.1); }
  .navbar-custom .container-fluid {
    padding: 0; }
  .navbar-custom .button-menu-mobile {
    border: none;
    color: #fff;
    display: inline-block;
    height: 70px;
    line-height: 70px;
    width: 60px;
    background-color: transparent;
    font-size: 24px;
    cursor: pointer; }
  @media (min-width: 992px) {
    .navbar-custom .button-menu-mobile {
      display: none; } }

/* Notification */
.noti-scroll {
  max-height: 230px; }

.notification-list {
  margin-left: 0; }
  .notification-list .noti-title {
    background-color: transparent;
    padding: 15px 20px; }
  .notification-list .noti-icon-badge {
    display: inline-block;
    position: absolute;
    top: 16px;
    right: 10px; }
  .notification-list .notify-item {
    padding: 12px 20px; }
    .notification-list .notify-item .notify-icon {
      float: left;
      height: 36px;
      width: 36px;
      font-size: 18px;
      line-height: 38px;
      text-align: center;
      margin-right: 10px;
      border-radius: 50%;
      color: #fff; }
    .notification-list .notify-item .badge {
      margin-top: 5px; }
    .notification-list .notify-item .notify-details {
      margin-bottom: 5px;
      overflow: hidden;
      margin-left: 45px;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #343a40; }
      .notification-list .notify-item .notify-details b {
        font-weight: 500; }
      .notification-list .notify-item .notify-details small {
        display: block; }
      .notification-list .notify-item .notify-details span {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 13px; }
    .notification-list .notify-item .user-msg {
      margin-left: 45px;
      white-space: normal;
      line-height: 16px; }
  .notification-list .profile-dropdown .notify-item {
    padding: 7px 20px; }

.noti-icon {
  font-size: 21px;
  vertical-align: middle; }

.profile-dropdown {
  min-width: 170px; }
  .profile-dropdown i {
    vertical-align: middle;
    margin-right: 5px;
    font-size: 16px; }

.nav-user {
  padding: 0 12px !important; }
  .nav-user img {
    height: 32px;
    width: 32px; }

.fullscreen-enable [data-toggle="fullscreen"] .fe-maximize::before {
  content: "\e88d"; }

@media (max-width: 991.98px) {
  .logo-box {
    width: 70px !important;
    padding-right: 0 !important; }
    .logo-box .logo-lg {
      display: none !important; }
    .logo-box .logo-sm {
      display: block !important; }
  .navbar-custom {
    left: 0 !important; } }

@media (max-width: 600px) {
  .navbar-custom .dropdown {
    position: static; }
    .navbar-custom .dropdown .dropdown-menu {
      left: 10px !important;
      right: 10px !important; } }

body[data-sidebar-size="condensed"] .navbar-custom {
  left: 70px; }

body[data-topbar-color="light"] .navbar-custom {
  background-color: #ffffff !important;
  box-shadow: 0 1px 1px rgba(50, 58, 70, 0.1);
  /* Search */ }
  body[data-topbar-color="light"] .navbar-custom .topnav-menu .nav-link {
    color: #6c757d; }
  body[data-topbar-color="light"] .navbar-custom .dropdown.show .nav-link {
    background-color: rgba(50, 58, 70, 0.03); }
  body[data-topbar-color="light"] .navbar-custom .button-menu-mobile {
    color: #323a46; }
  body[data-topbar-color="light"] .navbar-custom .app-search input:-ms-input-placeholder {
    color: #adb5bd !important; }
  body[data-topbar-color="light"] .navbar-custom .app-search input::-ms-input-placeholder {
    color: #adb5bd !important; }
  body[data-topbar-color="light"] .navbar-custom .app-search input::placeholder {
    color: #adb5bd !important; }
  body[data-topbar-color="light"] .navbar-custom .app-search .form-control {
    color: #323a46;
    background-color: #f1f5f7;
    border-color: #f1f5f7; }
  body[data-topbar-color="light"] .navbar-custom .app-search .btn {
    background-color: #f1f5f7;
    color: #ced4da; }

body[data-topbar-color="light"] .logo-dark {
  display: block; }

body[data-topbar-color="light"] .logo-light {
  display: none; }

body[data-topbar-color="light"][data-sidebar-color="light"] .logo-box {
  background-color: #fff; }

@media (max-width: 1366.98px) {
  body[data-layout-mode="horizontal"] .navbar-custom,
  body[data-layout-mode="detached"] .navbar-custom {
    padding: 0 !important; } }

@media (max-width: 991.98px) {
  body[data-layout-mode="horizontal"] .navbar-custom {
    padding: 0 calc(12px) !important; }
  body[data-layout-mode="horizontal"] .navbar-toggle {
    border: 0;
    position: relative;
    padding: 0;
    margin: 0;
    cursor: pointer; }
    body[data-layout-mode="horizontal"] .navbar-toggle .lines {
      width: 25px;
      display: block;
      position: relative;
      height: 16px;
      transition: all .5s ease;
      margin-top: calc(54px / 2); }
    body[data-layout-mode="horizontal"] .navbar-toggle span {
      height: 2px;
      width: 100%;
      background-color: #fff;
      display: block;
      margin-bottom: 5px;
      transition: transform .5s ease; }
      body[data-layout-mode="horizontal"] .navbar-toggle span:first-child {
        width: 75%; }
      body[data-layout-mode="horizontal"] .navbar-toggle span:last-child {
        width: 50%; }
    body[data-layout-mode="horizontal"] .navbar-toggle.open span {
      position: absolute; }
      body[data-layout-mode="horizontal"] .navbar-toggle.open span:first-child {
        top: 7px;
        transform: rotate(45deg);
        width: 100%; }
      body[data-layout-mode="horizontal"] .navbar-toggle.open span:nth-child(2) {
        visibility: hidden; }
      body[data-layout-mode="horizontal"] .navbar-toggle.open span:last-child {
        width: 100%;
        top: 7px;
        transform: rotate(-45deg); }
  body[data-layout-mode="horizontal"] .logo-box {
    width: 45px !important; }
  body[data-topbar-color="light"] .navbar-toggle span {
    background-color: #6c757d; } }

body[data-layout-mode="horizontal"][data-layout-width="boxed"] .navbar-custom {
  max-width: 1300px !important; }

body[data-layout-mode="horizontal"] .button-menu-mobile {
  display: none; }

body[data-layout-mode="horizontal"] .logo-box {
  width: auto;
  padding-right: 50px;
  float: left;
  position: relative;
  background-color: transparent; }

@media (min-width: 992px) and (max-width: 1366px) {
  body[data-layout-mode="horizontal"] .logo-box {
    padding-left: 20px; } }

@media (max-width: 360px) {
  .navbar-custom .topnav-menu .nav-link {
    padding: 0 12px; }
  .navbar-custom .button-menu-mobile {
    width: 45px; } }

body[data-layout-mode="detached"] .logo-box {
  float: left;
  position: relative; }

body[data-layout-mode="detached"] .navbar-custom {
  left: 0;
  right: 0; }
  body[data-layout-mode="detached"] .navbar-custom .logo-box {
    display: block; }

.page-title-box {
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin: 0 -27px 30px;
  padding: 15px 27px;
  box-shadow: 0 1px 1px rgba(50, 58, 70, 0.1); }
  .page-title-box .page-title {
    font-size: 1.1rem;
    margin: 0;
    color: #323a46; }
  .page-title-box .breadcrumb {
    padding: 0; }

.page-title-box-alt {
  background-color: transparent;
  padding: 20px 27px;
  box-shadow: none;
  margin-bottom: 0; }

@media (max-width: 639px) {
  .page-title-box {
    display: block; }
    .page-title-box .page-title {
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden; }
    .page-title-box .page-title-right {
      display: block;
      padding-top: 5px; } }

.footer {
  bottom: 0;
  padding: 19px 15px 20px;
  position: absolute;
  right: 0;
  color: #98a6ad;
  left: 240px;
  background-color: #eeeff3; }
  .footer .footer-links a {
    color: #98a6ad;
    margin-left: 1.5rem;
    transition: all .4s; }
    .footer .footer-links a:hover {
      color: #323a46; }
    .footer .footer-links a:first-of-type {
      margin-left: 0; }

.footer-alt {
  left: 0 !important;
  text-align: center;
  background-color: transparent; }

@media (max-width: 767.98px) {
  .footer {
    left: 0 !important;
    text-align: center; } }

body[data-layout-mode="horizontal"] .footer {
  left: 0 !important; }

body[data-layout-mode="horizontal"][data-layout-width="boxed"] .footer {
  max-width: 1300px !important; }

@media (min-width: 992px) {
  body[data-layout-mode="detached"] .footer {
    position: inherit;
    margin: 0 10px; } }

.width-xs {
  min-width: 80px; }

.width-sm {
  min-width: 100px; }

.width-md {
  min-width: 120px; }

.width-lg {
  min-width: 140px; }

.width-xl {
  min-width: 160px; }

.font-family-primary {
  font-family: "Inter", sans-serif; }

.font-family-secondary {
  font-family: "Inter", sans-serif; }

.sp-line-1,
.sp-line-2,
.sp-line-3,
.sp-line-4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical; }

.sp-line-1 {
  -webkit-line-clamp: 1; }

.sp-line-2 {
  -webkit-line-clamp: 2; }

.sp-line-3 {
  -webkit-line-clamp: 3; }

.sp-line-4 {
  -webkit-line-clamp: 4; }

.icon-dual {
  color: #98a6ad;
  fill: rgba(152, 166, 173, 0.12); }

.icon-dual-primary {
  color: #3bafda;
  fill: rgba(59, 175, 218, 0.16); }

.icon-dual-secondary {
  color: #6c757d;
  fill: rgba(108, 117, 125, 0.16); }

.icon-dual-success {
  color: #1abc9c;
  fill: rgba(26, 188, 156, 0.16); }

.icon-dual-info {
  color: #37cde6;
  fill: rgba(55, 205, 230, 0.16); }

.icon-dual-warning {
  color: #f7b84b;
  fill: rgba(247, 184, 75, 0.16); }

.icon-dual-danger {
  color: #f1556c;
  fill: rgba(241, 85, 108, 0.16); }

.icon-dual-light {
  color: #f1f5f7;
  fill: rgba(241, 245, 247, 0.16); }

.icon-dual-dark {
  color: #323a46;
  fill: rgba(50, 58, 70, 0.16); }

.icon-dual-pink {
  color: #f672a7;
  fill: rgba(246, 114, 167, 0.16); }

.icon-dual-purple {
  color: #6559cc;
  fill: rgba(101, 89, 204, 0.16); }

.icons-xs {
  height: 16px;
  width: 16px; }

.icons-sm {
  height: 24px;
  width: 24px; }

.icons-md {
  height: 32px;
  width: 32px; }

.icons-lg {
  height: 40px;
  width: 40px; }

.icons-xl {
  height: 48px;
  width: 48px; }

.icons-xxl {
  height: 60px;
  width: 60px; }

.item-hovered:hover {
  background-color: #f1f5f7; }

[data-simplebar] {
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start; }

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit; }

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0; }

.simplebar-offset {
  direction: inherit !important;
  box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch; }

.simplebar-content-wrapper {
  direction: inherit;
  box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%;
  /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  visibility: visible;
  overflow: auto;
  /* Scroll on this element otherwise element can't have a padding applied properly */
  max-width: 100%;
  /* Not required for horizontal scroll to trigger */
  max-height: 100%;
  /* Needed for vertical scroll to trigger */
  scrollbar-width: none; }

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  display: none; }

.simplebar-content:before,
.simplebar-content:after {
  content: ' ';
  display: table; }

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none; }

.simplebar-height-auto-observer-wrapper {
  box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  flex-grow: inherit;
  flex-shrink: 0;
  flex-basis: 0; }

.simplebar-height-auto-observer {
  box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1; }

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden; }

[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  -ms-user-select: none;
      user-select: none;
  -webkit-user-select: none; }

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all; }

.simplebar-scrollbar {
  position: absolute;
  right: 2px;
  width: 5px;
  min-height: 10px; }

.simplebar-scrollbar:before {
  position: absolute;
  content: '';
  background: #a2adb7;
  border-radius: 7px;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.2s linear; }

.simplebar-scrollbar.simplebar-visible:before {
  /* When hovered, remove all transitions from drag handle */
  opacity: 0.5;
  transition: opacity 0s linear; }

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px; }

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px; }

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px; }

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  height: 100%;
  left: 2px;
  right: 2px; }

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto; }

/* Rtl support */
[data-simplebar-direction='rtl'] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0; }

.hs-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll; }

.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none; }

.custom-scroll {
  height: 100%; }
